<p id="notice"><%= notice %></p>

<section class="section">
<div class ="section_inner">
<h1>飲酒記録一覧（<%= @month.strftime("%m月") %>）</h1>

<% if current_user.weight != nil %>

<%= link_to "前月", drinkings_path(month: @month.prev_month) %>
<%= link_to "翌月", drinkings_path(month: @month.next_month) %>

<table class="osare3-table col4t">
  <thead>
    <tr>
      <th>運転日時</th>
      <th>飲酒</th>
      <th>飲酒日時</th>
      <th>運転可能</th>
      <th>目視</th>
      <th>編集</th>
      <th>削除</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinkings.each do |drinking| %>
      <tr>
        <td><%= drinking.driving_start_time.strftime("%m/%d %H:%M") %></td>
        <td><%= link_to drinking.status, drinking_path(drinking) %></td>
        <td>
        <% if drinking.status == "〇" %>
        <%= drinking.drinking_end_time.strftime("%m/%d %H:%M") %>
        <% end %></td>
        <td>
        <% if (drinking.time - Time.now).to_i >= 0 %>
          <%= drinking.time.strftime("%m/%d %H:%M") %>
        <% else %>
          <%= "〇" %>
        <% end %>
        </td>
        <td><% drinking.visuallies.each do |visually| %>
            <%= visually.visually %>
            <% end %></td>
        <td><%= link_to '編集', edit_drinking_path(drinking) %></td>
        <td><%= link_to '削除', drinking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_drinking_path %>
<% else %>
<%= "体重をご入力いただいた場合、ご使用できます。" %>
<% end %>
</div>
</section>