<section class="section">
<div class ="section_inner">
<h1>飲酒記録確認</h1>

<table class="osare3-table col4t show">
<tr>
  <td><strong>運転日時</strong></td>
  <td><%= @drinking.driving_start_time.strftime("%m/%d %H:%M") %></td>
</tr>


<tr>
  <td><strong>飲酒状況</strong></td>
  <td>
  <% if @drinking.status == "〇" %>
  <%= "飲酒" %>
  <% else %>
  <%= "未飲酒" %>
  <% end %>
  </td>
</th>

<% if @drinking.status == "〇" %>

<tr>
  <td><strong>飲酒日時</strong></td>
  <td><%= @drinking.drinking_end_time.strftime("%m/%d %H:%M") %></td>
</tr>

<tr>
  <td><strong>運転可能時間</strong></td>
  <td><%= @drinking.time.strftime("%m/%d %H:%M") %></td>
</tr>

<tr>
  <td><strong>純アルコール量</strong></td>
  <td><%= @drinking.total_alcohol.round(2) %>g　※一日の適正量は20gです。
  </td>
</tr>
</table>


<tr>
  <td><strong>詳細</strong></td>
</tr>

  <hr color="#f5b771">

  <table class="osare3-table col4t show detail">
  <thead>
    <tr>
      <th>種類</th>
      <th>度数</th>
      <th>量（ml）</th>
      <th>本数</th>
    </tr>
  </thead>

  <tbody>
  <% @drinking.alcohols.each do |alcohol| %>
    <tr>
    <td><%= alcohol.kind %></td>
    <td><%= alcohol.frequency %></td>
    <td><%= alcohol.quantity %></td>
    <td><%= alcohol.number %></td>
    <tr>
  <% end %>
  </tbody>
  </table>

<% end %>

<%  unless user_admin? %>
<%= link_to '編集', edit_drinking_path(@drinking) %> 
<% end %>
</div>
</section>